force-app/main/default/flows/AgentforceHackathon_Generate_And_Email_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Quote_To_User_Email</name>
        <label>Copy 1 of Send Quote To User Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Quote_To_User_Email</name>
        <label>Send Quote To User Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Below are your &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 0, 0);&quot;&gt;Q&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 8, 8);&quot;&gt;uote &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(18, 18, 18);&quot;&gt;details for QuoteID: {!QuoteNumberValue}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Product&lt;/strong&gt;: {!ProductName}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Quantity&lt;/strong&gt;: {!Quantity}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Unit Price&lt;/strong&gt;: {!Get_Pricebook_Entry.UnitPrice}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Total Price&lt;/strong&gt;: {!TotalPrice}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thanks and Regards,&lt;/p&gt;&lt;p&gt;Global pharmaceutical company.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_email</name>
        <label>Assign  email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tablerows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>row</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalpriceall</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>multiply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_quote_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppId</name>
        <label>Assign OppId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quote_line_records</name>
        <label>Assign quote line records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CPQ_quotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_product_options.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_product_options.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_product_options.SBQQ__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_product_options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Total</name>
        <label>Calculate Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_to_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_Account_does_not_exists</name>
        <label>Display Account does not exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NoAccountDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry, the account for given account number does not exist, please try again with a valid account number</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Display_to_user</name>
        <label>Display to user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuotePreviewText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviewTextQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Confirmed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_does_not_exists</name>
        <label>Account does not exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Display_Account_does_not_exists</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Valid_email_check</name>
        <label>Copy 1 of Valid email check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_email_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Quote_To_User_Email</targetReference>
            </connector>
            <label>Copy 1 of Is email valid?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_product_bundle_available</name>
        <label>Is product bundle available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProductBundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Options_from_product_id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Opportunity</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Confirmed</name>
        <label>User Confirmed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_email_check</name>
        <label>Valid email check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_email_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Is email valid?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>multiply</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_quote_line_items.SBQQ__ListPrice__c}*{!Loop_through_quote_line_items.SBQQ__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!AccountName}+&quot; &quot;+{!ProductName}</expression>
    </formulas>
    <formulas>
        <name>price</name>
        <dataType>Number</dataType>
        <expression>{!TotalPrice}+{!Loop_through_quote_line_items.SBQQ__NetTotal__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriceCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Pricebook_Entry.UnitPrice}*{!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StoreQuoteId</name>
        <dataType>String</dataType>
        <expression>&apos;QuoteId&apos;</expression>
    </formulas>
    <formulas>
        <name>ValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(
CONTAINS({!EmailAddress},&quot;@&quot;),
LEN(LEFT({!EmailAddress},FIND(&quot;@&quot;,{!EmailAddress})-1))&gt;0,
LEN(RIGHT({!EmailAddress},LEN({!EmailAddress})-FIND(&quot;@&quot;,{!EmailAddress})))&gt;0
)</expression>
    </formulas>
    <interviewLabel>AgentforceHackathon - Generate And Email Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgentforceHackathon - Generate And Email Quote</label>
    <loops>
        <name>loop_through_product_options</name>
        <label>loop through product options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_2_of_Get_Options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_quote_line_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_quote_line_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_quote_line_items</name>
        <label>Loop through quote line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_quote_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Valid_email_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity</name>
        <label>Copy 1 of Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPQ_quotes</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPQ_quotes</name>
        <label>Create CPQ quotes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_through_product_options</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_OppId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>create_quote_items</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_quote_items</name>
        <label>create quote items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_email_check</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_quote_line_records</name>
        <label>Create quote line records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
        <inputReference>collectionQuoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Options_from_product_id</name>
        <label>Copy 1 of Get Options from product id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_product_bundle_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Product</name>
        <label>Get Product from Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Options</name>
        <label>Get Options from product id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Options_from_product_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_does_not_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Quote_To_User_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>QuoteNumberValue</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_quote_line_items</name>
        <label>Get quote line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_quote_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QuoteDetails.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteDetails</name>
        <label>Get Quote Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_quote_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_CPQ_quotes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_quote</name>
        <label>Update quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QuoteDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_CPQ_quotes</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,
Below are your Quote details for QuoteID: {!Get_QuoteDetails.Name}
&lt;table border=&quot;1&quot; &gt;
&lt;tr&gt;
&lt;th&gt;Product&lt;/th&gt;
&lt;th&gt;Quantity&lt;/th&gt;
&lt;th&gt;Unit price&lt;/th&gt;
{!tablerows}
&lt;tr&gt;
&lt;td colspan=&quot;2&quot;&gt;&lt;strong&gt;Total&lt;/strong&gt;&lt;/td&gt;
&lt;td&gt;&lt;strong&gt;{!totalpriceall}&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
ProPaws Pharma.
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Quote for {!ProductName}</text>
    </textTemplates>
    <textTemplates>
        <name>PreviewTextQuote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Here&apos;s your &lt;span style=&quot;color: rgb(251, 8, 8);&quot;&gt;quote &lt;/span&gt;preview:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Product: {!ProductName}&lt;/li&gt;&lt;li&gt;Quantity: {!Quantity}&lt;/li&gt;&lt;li&gt;Unit Price: {!Get_Pricebook_Entry.UnitPrice}&lt;/li&gt;&lt;li&gt;Total Price: {!TotalPrice}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Would you like to proceed and generate this quote? (Yes/No)&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>row</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;

&lt;td&gt;{!Loop_through_quote_line_items.SBQQ__ProductName__c}&lt;/td&gt;

&lt;td&gt;{!Loop_through_quote_line_items.SBQQ__Quantity__c}&lt;/td&gt;

&lt;td&gt;{!Loop_through_quote_line_items.SBQQ__ListPrice__c}&lt;/td&gt;

&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>ContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoAccountDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuotePreviewText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;3D0EHKd000001wg9u&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuoteValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tablerows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalpriceall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UserConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
