force-app/main/default/flows/GetAccountDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignVariable</name>
        <label>AssignVariable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quote</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GetAccountDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetAccountDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountNumber</assignToReference>
            <field>AccountNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Quote</name>
        <label>GetQuote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>SBQQ__Quote__c</object>
        <queriedFields>SBQQ__Account__c</queriedFields>
        <queriedFields>SBQQ__NetAmount__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>SBQQ__ListTotal__c</queriedFields>
            <queriedFields>SBQQ__Product__c</queriedFields>
            <queriedFields>Id</queriedFields>
            <relatedObject>SBQQ__QuoteLine__c</relatedObject>
            <relationshipField>SBQQ__LineItems__r</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
