force-app/main/default/flows/QuoteDiscount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_quote_details</name>
        <label>Send quote details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Quote with updated discount is here!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Discount</name>
        <label>Add Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_over_line_items.SBQQ__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountNBR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_the_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_the_items</name>
        <label>assign the items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalrows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>row</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalpriceall</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pricevalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output</name>
        <label>Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email sent successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Discount</name>
        <label>Update Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GETQUOTE.SBQQ__CustomerDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountNBR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>calprice</name>
        <dataType>Number</dataType>
        <expression>{!netpriceval}*{!loop_over_line_items.SBQQ__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>pricetotal</name>
        <dataType>Number</dataType>
        <expression>{!loop_over_line_items.SBQQ__Quantity__c}*{!loop_over_line_items.SBQQ__ListPrice__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>pricevalue</name>
        <dataType>Number</dataType>
        <expression>{!loop_over_line_items.SBQQ__ListPrice__c}*{!loop_over_line_items.SBQQ__Quantity__c}*(1-({!DiscountNBR}/100))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>QuoteDiscount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteDiscount</label>
    <loops>
        <name>loop_over_line_items</name>
        <label>loop over line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_quote_line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_quote_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_quote_line</name>
        <label>Get quote line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETQUOTE.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQUOTE</name>
        <label>GETQUOTE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_quote</name>
        <label>Update quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_quote_line</targetReference>
        </connector>
        <inputReference>GETQUOTE</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETQUOTE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,
Below are your Quote details for QuoteID: {!GETQUOTE.Name}
&lt;table border=&quot;1&quot; &gt;
&lt;tr&gt;
&lt;th&gt;Product&lt;/th&gt;
&lt;th&gt;Quantity&lt;/th&gt;
&lt;th&gt;Unit price&lt;/th&gt;
&lt;th&gt;Discount&lt;/th&gt;

{!totalrows}
&lt;tr&gt;
&lt;td colspan=&quot;2&quot;&gt;&lt;strong&gt;Total&lt;/strong&gt;&lt;/td&gt;
&lt;td&gt;&lt;strong&gt;{!totalpriceall}&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
ProPaws Pharma.
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>row</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;



&lt;td&gt;{!loop_over_line_items.SBQQ__ProductName__c}&lt;/td&gt;



&lt;td&gt;{!loop_over_line_items.SBQQ__Quantity__c}&lt;/td&gt;



&lt;td&gt;{!loop_over_line_items.SBQQ__ListPrice__c}&lt;/td&gt;



&lt;td&gt;{!DiscountNBR}&lt;/td&gt;



&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>DiscountNBR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>netPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>netpriceval</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>productname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalpriceall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalrows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
